@model Application.ViewModel.PrestamosViewModel
@{
    ViewData["Title"] = "Calculadora de prestamos";
}


<div class="col-md-6 offset-3 mt-3">
    <h2>Calculadora de prestamos a plazos</h2>

    <form method="post" asp-action="Index" asp-for="Prestamos">

        <div>
            <label asp-for="Monto">Monto: </label>
            <input type="text" asp-for="Monto" />
        </div>

        <div>
            <label asp-for="Tipo_Prestamo">Tipo de prestamo: </label>
            <select class="form-select" asp-for="Tipo_Prestamo">
                <option value="1">Personal</option>
                <option value="2">Automovil</option>
                <option value="3">Hipotecario</option>
            </select>
        </div>

        <div>
            <label asp-for="Meses">Plazo en meses: </label>
            <select class="form-select" asp-for="Meses">
                @for (int i = 12; i < 121; i = i + 6){
                    <option value="@i">@i Meses</option>
                }
            </select>
        </div>

        <button class="btn btn-primary">Calcular</button>
    </form>

    <h5>Total a pagar: <strong class="text-primary">$ @ViewBag.testing</strong> Mensuales</h5>
</div>