@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Homework #1 - controladores y vistas</h1>
    <p>Navegar con las opciones en la parte supeiorr.</p>
</div>
